.boots-form label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 2px 2px 0px #fff;
}

/*.boots-form p {
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 12px;
}*/

.boots-form textarea,

.boots-form input[type="text"],

.boots-form input[type="password"],

.boots-form input[type="file"],

.boots-form input[type="email"],

.boots-form input[type="number"],

.boots-form input[type="search"],

.boots-form input[type="tel"],

.boots-form input[type="url"],

.boots-form select {
    width: 100%;
    padding: 7px;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.boots-form input[type="file"] {
    /*padding: 6px;*/
    background-color: transparent;
    border: 0;
}

.boots-form textarea {
    height: 140px;
}


.boots-form .boots-form-img-upload {
    position: relative;
    background-color: #fff;
    border: 2px dashed #d7d7d7;
    padding: 21px;
    text-align: center;
    line-height: 0;
}

.boots-form .boots-form-img-upload
a.boots-form-img-cross {
    position: absolute;
    bottom: -8px;
    right: -8px;
    z-index: 2;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../images/cross.gif) no-repeat center center transparent;
}

.boots-form .boots-form-img-upload
a.boots-form-img-cross:hover {
    bottom: -10px;
    right: -10px;
}

.boots-form
.wp-picker-container
a.wp-color-result {
    height: 35px;
    padding-left: 42px;
    margin: 0;
    outline: 0;
}
.boots-form
.wp-picker-container
a.wp-color-result:after {
    font-size: 12px;
    line-height: 35px;
    padding: 0 14px;
}
.boots-form
.wp-picker-container
.wp-picker-input-wrap .button {
    height: 37px;
    line-height: 35px;
    padding: 0 14px;
    font-size: 12px;
    outline: 0;
}
.boots-form
.wp-picker-container
.wp-picker-input-wrap .iris {
    padding: 9px;
    margin: 1px 0 0 5px;
    width: 70px;
}


.boots-form
.select2-container-active .select2-choice,

.boots-form
.select2-container-active .select2-choices,
.boots-form
.select2-drop-active,
.boots-form
.select2-drop {
    border-color: #d9d9d9;
}
.boots-form
.select2-drop > ul > li:last-child {
    margin-bottom: 0;
}

.boots-form
.select2-container-active
.select2-choice,

.boots-form
.select2-container-active .select2-choices {

}

.boots-form
.select2-container-multi
.select2-choices {
    background-image: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    border: 1px solid #ddd;
    outline: 0;
}

.boots-form
.select2-container-multi
.select2-choices
.select2-search-choice {
    margin-top: 5px;
}

.boots-form
.boots-form-input-full {
    width: 100%;
}
.boots-form
textarea.wp-editor-area + span iframe {
    min-height: 220px !important;
}

.boots-form
.boots-form-nouislider {
    padding-top: 8px;
}
.boots-form
.boots-form-nouislider input {
    width: 60px;
    float: left;
    margin-top: -8px;
}
.boots-form
.boots-form-nouislider
.boots-form-nouislider-range {
    margin-left: 80px;
    margin-right: 10px;
    cursor: pointer;
}
.boots-form
.boots-form-nouislider
.boots-form-nouislider-range
.noUi-handle {
    cursor: pointer;
}
.boots-form
.boots-form-nouislider
.boots-form-nouislider-range
.noUi-handle.noUi-active {
    background-color: #d7d7d7;
}

.boots-form
.dropzone {
    background-color: transparent;
    border: 0;
    min-height: 0;
}
.boots-form
.dropzone .dz-message {
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 7px;
    display: block !important;
    background-color: #3AE036;
    color: #fff;
    text-shadow: 0 0 1px #366B0C;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #64BE1C;
}
.boots-form
.dropzone .dz-message:hover {
    background-color: #64BE1C;
    text-transform: uppercase;
}
.boots-form
.dropzone .dz-remove {
    display: none;
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: 99;
    padding: 0px 5px;
    font-size: 13px;
    text-align: center;
    line-height: 18px;
    background-color: red;
    border: 1px solid rgb(203, 37, 37);
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    font-family: verdana;
}
.boots-form
.dropzone .dz-remove:hover {
    background-color: rgb(203, 37, 37);
    text-decoration: none;
}
.boots-form
.dropzone .dz-preview {
    margin: 0;
}
.boots-form
.dropzone .dz-preview.dz-image-preview {
    padding: 10px;
    border: 1px solid #E2E2E2;
}
.boots-form
.dropzone .dz-preview .dz-image {
    border-radius: 0px;
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 4px;
}
.boots-form
.dropzone .dz-preview .dz-image img {
    margin: auto;
    border-radius: 4px;
}
.boots-form
.dropzone .dz-preview .dz-details {
    line-height: 13px;
}


